<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>

<body>
<div th:replace="fragments/navbar :: header"></div>
<div class="container my-5">
    <h1>Change Password</h1>
    <div th:if="${successMessage}" th:text="${successMessage}" class="alert alert-success"></div>
    <div th:if="${errorMessage}" th:text="${errorMessage}" class="alert alert-danger"></div>
    <form th:action="@{/reset_password}" method="post" th:object="${password}">
        <div class="mb-3">
            <label for="currentPassword" class="form-label">Current Password</label>
            <input type="password" class="form-control" id="currentPassword" name="currentPassword" th:field="*{currentPassword}">
        </div>
        <div class="mb-3">
            <label for="newPassword" class="form-label">New Password</label>
            <input type="password" class="form-control" id="newPassword" name="newPassword" th:field="*{newPassword}">
        </div>
        <div class="mb-3">
            <label for="confirmPassword" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" th:field="*{passwordConfirm}">
        </div>
        <button type="submit" class="btn btn-dark">Change Password</button>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>
